<div class="mx-auto max-w-md">
    <div class="center">
        <h3 class="mt-12 font-light text-slate-50"> Playing as {{player}} </h3>
    </div>
    <div class="center">
        <h3 class="m-4 text-3xl font-medium text-cyan-300"> YOU LOSE! </h3>
    </div>
    <div class="center mt-9 mb-12">
        <div class="flex w-full justify-center">
            <app-icon [name]="'scissors'" class="m-3 mx-5 h-20"></app-icon>
            <app-icon [name]="'paper'" class="m-3 mx-5 h-20"></app-icon>
        </div>
    </div>
    <div class="center m-8">
        <div class="flex">
            <app-box [name]="'rock'" [isSelected]="playerSymbol === 'rock'"
                (selected)="updateSelection($event)"></app-box>
            <app-box [name]="'paper'" [isSelected]="playerSymbol === 'paper'"
                (selected)="updateSelection($event)"></app-box>
            <app-box [name]="'scissors'" [isSelected]="playerSymbol === 'scissors'"
                (selected)="updateSelection($event)"></app-box>
        </div>
    </div>
    <div class="center">
        <div class="flex w-full justify-evenly">
            <app-counter [label]="'WON'" [count]="scores.won"></app-counter>
            <app-counter [label]="'TIED'" [count]="scores.tied"></app-counter>
            <app-counter [label]="'LOST'" [count]="scores.lost"></app-counter>
        </div>
    </div>
    <div class="center">
        <button class="mt-10 h-16" (click)="refreshScores()">
            <app-icon [name]="'refresh'"></app-icon>
        </button>
    </div>
</div>

<router-outlet></router-outlet>