<div class="mx-auto max-w-md">
    <div class="center">
        <h3 class="mt-12 mb-4 font-light text-slate-50"> Playing as {{player$ | async}} </h3>
    </div>
    <div class="center" style="height: 36px">
        <app-banner [hidden]="(gamePhase$ | async) !=='FINISHED'" [outcome]="(outcome$ | async)"></app-banner>
    </div>
    <div class="center mt-9 mb-12" style="height: 104px">
        <div class="flex w-full justify-center" *ngIf="(gamePhase$ | async) === 'FINISHED'">
            <app-icon [name]="(playerSelection$ | async)" class="m-3 mx-5 h-20"></app-icon>
            <app-icon [name]="(computerSelection$ | async)" class="m-3 mx-5 h-20"></app-icon>
        </div>
        <div class="flex w-full justify-center" *ngIf="(gamePhase$ | async) === 'WAITING_FOR_COUNTDOWN'">
            <app-countdown (finished)="onCountdownFinished()"></app-countdown>
        </div>
    </div>
    <div class="center m-8">
        <div class="flex">
            <app-box [name]="'ROCK'" [isSelected]="(playerSelection$ | async) === 'ROCK'"
                (selected)="updateSelection($event)"></app-box>
            <app-box [name]="'PAPER'" [isSelected]="(playerSelection$ | async) === 'PAPER'"
                (selected)="updateSelection($event)"></app-box>
            <app-box [name]="'SCISSORS'" [isSelected]="(playerSelection$ | async) === 'SCISSORS'"
                (selected)="updateSelection($event)"></app-box>
        </div>
    </div>
    <div class="center">
        <app-scores class="w-full" [scores]="(scores$ | async)"></app-scores>
    </div>
    <div class="center">
        <button class="mt-10 h-16" (click)="restartGame()">
            <app-icon [name]="'refresh'"></app-icon>
        </button>
    </div>

</div>

<router-outlet></router-outlet>